.main-nav {
    background: var(--nav-black);
    position: fixed;
    z-index: 999 !important;
}

.nav-home{
    display: grid;
}

.navbar-toggler{
    padding: 0;
}

.main-nav-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.side-nav-item {
    display: flex;
    justify-content: center;
    width: 100%;
}

.side-nav-link {
    background: none;
    justify-content: center;
    padding: 1.25rem 0;
    width: 5rem;
    z-index: 9999 !important;
}

.side-nav-link:focus{
    outline: none;
}

.side-nav-item:hover {
    transition: .3s;
    cursor: pointer;
    background-color: var(--main-color);
}


/* nav media queries */

/* on small screens */

@media only screen and (max-width: 600px) {
    .main-nav {
        bottom: 0 !important;
        width: 100vw !important;
        height: 3.5rem !important;
    }
    .nav-home {
        display: none;
    }
    .main-nav-ul {
        flex-direction: row !important;
    }
    main {
        margin: 0;
    }
    .side-nav-link{
        width: 1rem;
    }
}

/* on large screens */

@media only screen and (min-width: 600px) {
    .main-nav {
        top: 0 !important;
        width: 5rem !important;
        height: 100vh !important;
    }
    .nav-home {
        margin: 2rem 0;
        margin-bottom: 6rem;
        display: block;
    }
    .main-nav-ul {
        flex-direction: column !important;
    }
}